<div ng-include="'templates/common/navbar.html'"></div>

<div class="appWrapper">
    <div class="appContainer container">
        <div class="appLeftCol" style="padding-right: 0px;">
            <div class="mainMenu">
                <ul class="sidebar-nav">

                    <li ng-class="{'active':$state.includes('app.wallet.summary')}">
                        <a ui-sref="app.wallet.summary">
                            <i class="bticon bticon-doc-text"></i>
                            <span class="capitalise">{{ 'MY_WALLET' | translate }}</span>
                        </a>
                    </li>
                    <li ng-class="{'active':$state.includes('app.wallet.send')}">
                        <a ui-sref="app.wallet.send">
                            <i class="bticon bticon-forward-outline"></i>
                            <span class="capitalise">{{ 'SEND' | translate }}</span>
                        </a>
                    </li>
                    <li ng-class="{'active':$state.includes('app.wallet.receive')}">
                        <a ui-sref="app.wallet.receive">
                            <i class="bticon bticon-reply-outline"></i>
                            <span class="capitalise">{{ 'RECEIVE' | translate }}</span>
                        </a>
                    </li>
                    <li ng-if="CONFIG.BUYBTC" ng-class="{'active':$state.includes('app.wallet.buybtc')}">
                        <a ui-sref="app.wallet.buybtc.choose">
                            <i class="bticon bticon-credit-card"></i>
                            <span class="capitalise">{{ 'BUYBTC_NAVTITLE' | translate }}</span>
                        </a>
                    </li>
                    <li ng-class="{'active':$state.includes('app.wallet.settings')}">
                        <a ui-sref="app.wallet.settings">
                            <i class="bticon bticon-cog"></i>
                            <span class="capitalise">{{ 'SETTINGS' | translate }}</span>
                        </a>
                    </li>
                </ul>

                <div class="appStoreButtons">
                    <a href="https://play.google.com/store/apps/details?id=com.blocktrail.mywallet" class="btn-appstore">
                        <i class="bticon bticon-android"></i>
                        <span class="sentence-case">{{ 'APP_DOWNLOAD_ON' | translate }} <b>Android</b></span>
                    </a>
                    <a href="https://itunes.apple.com/us/app/blocktrail-bitcoin-wallet/id1019614423" class="btn-appstore">
                        <i class="bticon bticon-apple"></i>
                        <span class="sentence-case">{{ 'APP_DOWNLOAD_ON' | translate }} <b>iOS</b></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="appRightCol" style="padding-left:0px;">
            <div class="appHeader">
                <div class="appHeaderContent">
                    <div class="row">
                        <div class="col-xs-4">
                            <h1 class="capitalise pageTitle">{{ pageTitle | translate }}</h1>
                        </div>
                        <div class="col-xs-8">
                            <div class="text-right">
                                <h1 class="capitalise">
                                    {{ (balance + uncBalance) | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
                                    <small>≃ {{ (balance + uncBalance) | satoshiToCurrency:settings.localCurrency : bitcoinPrices }}</small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appBody" id="appBody">
                <div class="appBodyContainer" ui-view="mainView"></div>
            </div>
        </div>
    </div>
</div>
