

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3" style="padding-left: 0;">
                <div class="copyright">
                    <div class="copyright-logo"></div>
                    <div class="copyright-text">&copy; Copyright BTC.COM 2016. All Rights Reserved.</div>
                </div>
            </div>
            <div class="col-xs-9 links" style="padding-right: 0;">
                <div class="links-column">
                    <div class="links-category">{{ 'FOOTER_PRODUCT' | translate }}</div>
                    <ul class="links-list">
                        <li class="links-list-item"><a target="_blank" href="https://www.bitmaintech.com">{{ 'FOOTER_ANTMINER' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://www.antpool.com">{{ 'FOOTER_ANTPOOL' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://www.hashnest.com">{{ 'FOOTER_HASHNEST' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://www.minerlink.com">{{ 'FOOTER_MINERLINK' | translate }}</a></li>
                    </ul>
                </div>
                <div class="links-column">
                    <div class="links-category">{{ 'FOOTER_COMPANY' | translate }}</div>
                    <ul class="links-list">
                        <li class="links-list-item"><a target="_blank" href="https://www.bitmaintech.com/about.htm">{{ 'FOOTER_ABOUT' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://www.bitmaintech.com/recruit.htm">{{ 'FOOTER_JOIN_US' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://www.bitmaintech.com/about.htm">{{ 'FOOTER_CONTACT' | translate }}</a></li>
                    </ul>
                </div>
                <div class="links-column">
                    <div class="links-category">{{ 'FOOTER_MEDIA' | translate }}</div>
                    <ul class="links-list">
                        <li class="links-list-item"><a target="_blank" href="http://weibo.com/bitmain">{{ 'FOOTER_WEIBO' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="http://forum.bitmain.com/">{{ 'FOOTER_COMMUNITY' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://twitter.com/BITMAINtech">{{ 'FOOTER_TWITTER' | translate }}</a></li>
                        <li class="links-list-item"><a target="_blank" href="https://www.facebook.com/Bitmain">{{ 'FOOTER_FACEBOOK' | translate }}</a></li>
                    </ul>
                </div>
                <div class="links-column">
                    <div class="links-category">{{ 'FOOTER_DEVELOPERS' | translate }}</div>
                    <ul class="links-list">
                        <li class="links-list-item"><a href="{{ route('api') }}">{{ 'FOOTER_API' | translate }}</a></li>
                    </ul>
                    <ul class="links-list">
                        <li class="links-list-item">
                            <a target="_blank" href="{{ 'https://bmfeedback.bitmain.com/feedback/app_feedback/?app=BTC.COM&imei=1236456456&lan=' + 'en_US' }}">
                                {{ 'FOOTER_FEEDBACK' | translate }}</a></li>
                    </ul>
                </div>
                <div class="platform-swtich">
                    <i class="bticon bticon-mobile"></i>
                    <a href="javascript:">{{ 'FOOTER_MOBILESITE' | translate }}</a>
                </div>
                <img src="/img/qr-code@2x.png" style="position: absolute; right: -10px; top: 30px; height:128px">
            </div>
        </div>
    </div>
</footer>


<!--

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div style="text-align: center;margin-top:50px;">
                    <a ng-href="{{ CONFIG.HOMEPAGE_URL }}" target="_self">
                        <img src="{{ CONFIG.STATICSURL }}/img/blocktrail-footer.png" style="width:100px;" />
                    </a>
                </div>
                <div class="help-block" style="text-align: center">A PLATFORM FOR BITCOIN</div>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>COMPANY</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a ng-href="{{ CONFIG.HOMEPAGE_URL + '/about' }}" target="_self">About</a></li>
                    <li><a target="_blank" href="https://blog.btc.com">Our Blog</a></li>
                    <li><a ng-href="{{ CONFIG.HOMEPAGE_URL + '/legal' }}" target="_self">Terms of Service</a></li>
                    <li><a ng-href="{{ CONFIG.HOMEPAGE_URL + '/privacy' }}" target="_self">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>DEVELOPERS</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a ng-href="{{ CONFIG.DEVELOPERS_URL }}" target="_self">Bitcoin API</a></li>
                    <li><a ng-href="{{ CONFIG.DEVELOPERS_URL + '/docs' }}" target="_self">Documentation</a></li>
                    <li><a href="https://tipbot.blocktrail.com" target="_blank">Slack Tipbot</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>EXPLORER</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a href="{{ CONFIG.EXPLORER_URL }}" target="_self">Bitcoin Explorer</a></li>
                    <li><a href="{{ CONFIG.EXPLORER_URL.replace('BTC', 'tBTC') }}" target="_self">Testnet Explorer</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>SOCIAL</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a target="_blank" href="https://www.twitter.com/btccom_official">Twitter</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/BTC.com.Official">Facebook</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/btc.com">Linkedin</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/btc_com_official/">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


//-->
