<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="copyright">
                    <div class="copyright-logo"></div>
                    <div class="copyright-text">&copy; Copyright BTC.COM 2017. All Rights Reserved.</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 links">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="links-column">
                            <div class="links-category">{{ 'FOOTER_PRODUCT' | translate }}</div>
                            <ul class="links-list">
                                <li class="links-list-item"><a target="_blank" href="https://www.bitmain.com">{{ 'FOOTER_ANTMINER' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://www.antpool.com">{{ 'FOOTER_ANTPOOL' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://www.hashnest.com">{{ 'FOOTER_HASHNEST' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://www.minerlink.com">{{ 'FOOTER_MINERLINK' | translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="links-column">
                            <div class="links-category">{{ 'FOOTER_COMPANY' | translate }}</div>
                            <ul class="links-list">
                                <li class="links-list-item"><a target="_blank" href="https://www.bitmain.com/about">{{ 'FOOTER_ABOUT' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://www.bitmain.com/join_us">{{ 'FOOTER_JOIN_US' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="http://support.bitmain.com/hc/en-us/requests/new">{{ 'FOOTER_CONTACT' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://blog.btc.com/">{{ 'FOOTER_BLOG' | translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="links-column">
                            <div class="links-category">{{ 'FOOTER_MEDIA' | translate }}</div>
                            <ul class="links-list">
                                <li class="links-list-item"><a target="_blank" href="http://weibo.com/bitmain">{{ 'FOOTER_WEIBO' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="http://forum.bitmain.com/">{{ 'FOOTER_COMMUNITY' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://twitter.com/btccom_official">{{ 'FOOTER_TWITTER' | translate }}</a></li>
                                <li class="links-list-item"><a target="_blank" href="https://www.facebook.com/btccom">{{ 'FOOTER_FACEBOOK' | translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="links-column">
                            <div class="links-category">{{ 'FOOTER_DEVELOPERS' | translate }}</div>
                            <ul class="links-list">
                                <li class="links-list-item"><a href="{{ route('api') }}">{{ 'FOOTER_API' | translate }}</a></li>
                            </ul>
                            <ul class="links-list">
                                <li class="links-list-item">
                                    <a target="_blank" href="{{ 'https://bmfeedback.bitmain.com/feedback/app_feedback/?app=BTC.COM&imei=1236456456&lan=' + 'en_US' }}">
                                        {{ 'FOOTER_FEEDBACK' | translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</footer>
