<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div style="text-align: center;margin-top:50px;">
                    <a ng-href="{{ CONFIG.HOMEPAGE_URL }}" target="_self">
                        <img src="/img/blocktrail-footer.png" style="width:100px;" />
                    </a>
                </div>
                <div class="help-block" style="text-align: center">A PLATFORM FOR BITCOIN</div>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>COMPANY</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a ng-href="{{ CONFIG.HOMEPAGE_URL + '/about' }}" target="_self">About</a></li>
                    <li><a target="_blank" href="https://blog.blocktrail.com">Our Blog</a></li>
                    <li><a ng-href="{{ CONFIG.HOMEPAGE_URL + '/legal' }}" target="_self">Terms of Service</a></li>
                    <li><a ng-href="{{ CONFIG.HOMEPAGE_URL + '/privacy' }}" target="_self">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>DEVELOPERS</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a ng-href="{{ CONFIG.DEVELOPERS_URL }}" target="_self">Bitcoin API</a></li>
                    <li><a ng-href="{{ CONFIG.DEVELOPERS_URL + '/docs' }}" target="_self">Documentation</a></li>
                    <li><a href="https://tipbot.blocktrail.com" target="_blank">Slack Tipbot</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>EXPLORER</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a href="{{ CONFIG.EXPLORER_URL }}" target="_self">Bitcoin Explorer</a></li>
                    <li><a href="{{ CONFIG.EXPLORER_URL.replace('BTC', 'tBTC') }}" target="_self">Testnet Explorer</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h4>SOCIAL</h4>
                <ul class="nav nav-stacked wrapper">
                    <li><a target="_blank" href="https://www.twitter.com/blocktrail">Twitter</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/blocktrail">Facebook</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/blocktrail-b-v-">Linkedin</a></li>
                    <li><a target="_blank" href="https://instagram.com/blocktrail_/">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
