<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#blocktrail-webwallet-nav">
                <i class="bticon  bticon-arrow-down-circle-o"></i>
            </button>
            <a class="navbar-brand" ng-href="{{ CONFIG.HOMEPAGE_URL }}" target="_self"><img src="{{ CONFIG.STATICSURL }}/img/logo-btc-reverse.png"/></a>
        </div>

        <div class="collapse navbar-collapse" id="blocktrail-webwallet-nav">

            <ul class="nav navbar-nav pull-right" ng-if="( $state.is('app.setup.register') || $state.is('app.setup.login') || $state.is('app.setup.loggedout'))">
                <li ng-class="{'active':$state.is('app.setup.register')}">
                    <a ui-sref="app.setup.register">{{ 'NAVBAR_SIGNUP' | translate }}</a>
                </li>
                <li ng-class="{'active':$state.is('app.setup.login')}">
                    <a ui-sref="app.setup.login">{{ 'NAVBAR_LOGIN' | translate }}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav" ng-if="!$state.includes('app.wallet') && !$state.includes('app.setup')">
                <li>
                    <a href="/">{{ 'NAVBAR_HOME' | translate }}</a>
                </li>
                <li>
                    <a href="/blocks">{{ 'NAVBAR_BLOCKS' | translate }}</a>
                </li>
                <li>
                    <a href="/stats">{{ 'NAVBAR_STATS' | translate }}</a>
                </li>
                <li>
                    <a href="/tools">{{ 'NAVBAR_TOOLS' | translate }}</a>
                </li>
                <li>
                    <a href="/applications">{{ 'NAVBAR_APPLICATIONS' | translate }}</a>
                </li>
            </ul>

            <div class="searchbar"  ng-if="!$state.includes('app.wallet') && !$state.includes('app.setup')">
                <div class="searchbar-inner">
                    <form action="https://www.btc.com/search/" method="GET" class="searchbar-form clearfix" onsubmit="this.q.value = this.q.value.trim()">
                        <button class="searchbar-submit" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <div class="searchbar-input-container">
                            <input type="search" class="searchbar-input" name="q"
                                   placeholder="{{ 'NAVBAR_SEARCH_PLACEHOLDER' | translate }}"
                                   autocomplete="off"
                                   onfocus="$(this).addClass('active')"
                                   onblur="this.value.length > 1 || $(this).removeClass('active')" />
                        </div>
                    </form>
                </div>
            </div>


            <ul class="nav navbar-nav navbar-right" ng-if="$state.includes('app.wallet')">
                <li>
                    <a ui-sref="app.logout">{{ 'LOGOUT' | translate }}</a>
                </li>
            </ul>


        </div>
    </div>
</nav>


