.btn-file-data {
  position: relative;
  overflow: hidden;

  button {
    position: relative;
    z-index: 10;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    z-index: 1;
  }
}