$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

/*
 * OPEN SANS
 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $light;
    src: url(../font/Open-Sans-300.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $normal;
    src: local('Open Sans'), local('OpenSans'), url(../font/Open-Sans-400.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $semi-bold;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../font/Open-Sans-600.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $bold;
    src: local('Open Sans'), local('OpenSans'), url(../font/Open-Sans-700.woff) format('woff');
}

/*
 * NEO SANS PRO
 * @TODO: woff
 */
@font-face {
    // we don't have the Light version, should buy it if we want it!
    //  using Open Sans as fallback for now, for light you barely notice
    font-family: 'Neo Sans Pro';
    font-style: normal;
    font-weight: $light;
    src: url(../font/Open-Sans-300.woff) format('woff');
}
@font-face {
    font-family: 'Neo Sans Pro';
    font-style: normal;
    font-weight: $normal;
    src: local('Neo Sans Pro'), local('Neo Sans Pro Regular'), local('Neo-Sans-Pro-Regular'), local('NeoSansPro'), url(../font/Neo-Sans-Pro.ttf) format('truetype');
}
@font-face {
    font-family: 'Neo Sans Pro';
    font-style: normal;
    font-weight: $semi-bold;
    src: local('Neo Sans Pro Medium'), local('Neo-Sans-Pro-Medium'), local('NeoSansProMedium'), url(../font/Neo-Sans-Pro-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Neo Sans Pro';
    font-style: normal;
    font-weight: $bold;
    src: local('Neo Sans Pro Bold'), local('Neo-Sans-Pro-Bold'), local('NeoSansProBold'), url(../font/Neo-Sans-Pro-Bold.ttf) format('truetype');
}

/*
 * LATO
 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: $light;
    src: local('Lato Light'), local('Lato-Light'), local('LatoLight'), url(../font/Lato-Light.woff2) format('woff2'), url(../font/Lato-Light.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: $normal;
    src: local('Lato'), local('Lato Regular'), local('Lato-Regular'), local('LatoRegular'), url(../font/Lato-Regular.woff2) format('woff2'), url(../font/Lato-Regular.woff) format('woff');
}
// NO SEMI BOLD
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: $bold;
    src: local('Lato'), local('Lato Bold'), local('Lato-Bold'), local('LatoBold'), url(../font/Lato-Bold.woff2) format('woff2'), url(../font/Lato-Bold.woff) format('woff');
}

/*
 * ROBOTO
 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../font/Roboto-400.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../font/Roboto-700.woff2) format('woff2');
}
