<div
    class="appPage page-blur"
    ng-class="{'page-blur-active': isLoading}"
>
    <div class="cashaddr-notice alert alert-warning"
         ng-show="CONFIG.NETWORKS[walletData.networkType].CASHADDRESS">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3 style="margin-top: 0px;">Bitcoin Cash New Address Format</h3>
            </div>
            <div class="col-xs-12 col-md-4">
                <div style="text-align: right;">
                    <toggle-switch
                            ng-model="useCashAddress"
                            class="switch-success"
                    ></toggle-switch>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Bitcoin Cash has a new address format to avoid confusion with Bitcoin addresses. <br />
                    If you're trying to use one of these new addresses and the recipient is saying it is invalid,
                    then you can still switch back to the old legacy format.
                </p>
            </div>
        </div>
    </div>

    <div class="searchBox">
        <input type="text" ng-model="searchText" maxlength="100" placeholder="{{ 'ADDRESS_LOOKUP_SEARCH_PLACEHOLDER' | translate }}">
        <div>
            <label for="checkOnlyUsed">
                <input id="checkOnlyUsed" class="searchCheckbox" type="checkbox" ng-model="checkOnlyUsed"> {{ 'ADDRESS_LOOKUP_CHECKONLY_USAGE' | translate }}
            </label>
            <label for="checkOnlyLabeled">
                <input id="checkOnlyLabeled" class="searchCheckbox" type="checkbox" ng-model="checkOnlyLabeled"> {{ 'ADDRESS_LOOKUP_CHECKONLY_LABELED' | translate }}
            </label>
        </div>
    </div>

    <div
        class="page-blur"
        ng-class="{'page-blur-active': isPageLoading}"
    >
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'ADDRESS' | translate }}</th>
                <th>{{ 'ADDRESS_LABEL' | translate }}</th>
                <th><!--{{ 'EDIT_LABEL' | translate }}--></th>
                <th class="text-center">{{ 'USAGES' | translate }}</th>
                <th class="text-center">{{ 'BALANCE' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td class="colCounter"> {{ (currentPage - 1) * itemsPerPage + items.indexOf(item) + 1 }}</td>
                <td class="colAddress">
                    <a title="{{ 'CHECKOUT_AT_BTCCOM' | translate }}"
                       href="{{ CONFIG.NETWORKS[walletData.networkType].EXPLORER_ADDRESS_URL + '/' + item.address }}"
                       target="_blank">
                        {{ item.address | displayAddr: useCashAddress }}
                    </a>
                </td>
                <td class="colCurrLabel">{{ item.label ? item.label : "" }}</td>
                <td class="colEditLabel">
                    <span style="float: right;">
                        <a class="pointer-clickable"
                           ng-click="addLabel(items.indexOf(item));"
                           title="{{ 'EDIT_LABEL' | translate }}">
                            <i class="bticon bticon-edit"></i></a>
                        <a class="pointer-clickable"
                           ng-if="item.label"
                           ng-click="removeLabel(items.indexOf(item))"
                           title="{{ 'DELETE_LABEL' | translate }}">
                            <i class="bticon bticon-trash"></i></a>
                        <a ng-if="!item.label">
                            <i class="bticon bticon-trash bticon-hide"></i></a>
                    </span>
                </td>
                <td class="colTxCount text-center">{{ item.tx_cnt }}</td>
                <td class="colBalance text-center"
                    ng-class="{ 'positive-balance' : item.balance > 0 }">
                    {{ (item.balance + item.unc_balance) | satoshiToCoin : walletData.networkType : 8 }}
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Loader overlay -->
        <div
            class="page-loader"
            ng-class="{'active': isPageLoading}"
        >
            <loading-spinner></loading-spinner>
        </div>
    </div>

    <div class="pagination-centered">
        <ul uib-pagination
            total-items="totalItems"
            items-per-page="itemsPerPage"
            max-size="8"
            boundary-links="true"
            rotate="true"
            next-text="&gt;" previous-text="&lt;" first-text="&lt;&lt;" last-text="&gt;&gt;"
            ng-model="currentPage"
            ></ul>
    </div>

    <!-- Loader overlay -->
    <div
        class="page-loader"
        ng-class="{'active': isLoading}"
    >
        <loading-spinner></loading-spinner>
    </div>
</div>
