<form class="form" name="sendInputForm" novalidate ng-submit="submit()">
    <div class="modal-header" ng-class="message.header_class">
        <h3 class="modal-title capitalise">{{ message.title | translate }}</h3>
    </div>
    <div class="modal-body" ng-class="message.body_class">
        <p ng-if="message.body">{{ message.body | translate }}</p>
        <p ng-if="message.bodyHtml" ng-bind-html="message.bodyHtml"></p>

        <p ng-if="message.qr" class="text-center">
            <qr text="message.qr.text"
                type-number="message.qr.typeNumber"
                correction-level="message.qr.correctionLevel"
                size="message.qr.SIZE"
                input-mode="message.qr.inputMode"
                image="message.qr.image"></qr>
        </p>

        <p ng-if="message.bodyExtra">{{ message.bodyExtra | translate }}</p>

        <div class="form-group form-group-lg" ng-if="message.prompt">
            <label ng-if="message.label" class="control-label" for="prompt">{{ message.label | translate }}</label>

            <div ng-if="message.icon" class="input-group">
                <input autocomplete="{{ message.autocomplete || 'off' }}" autofocus type="{{ message.input_type || 'text' }}" ng-model="form.prompt" id="prompt" class="form-control"/>
                <span class="input-group-addon">
                    <i class="bticon bticon-{{ message.icon }}"></i>
                </span>
            </div>
            <div ng-if="!message.icon">
                <input autocomplete="{{ message.autocomplete || 'off' }}" autofocus type="{{ message.input_type || 'text' }}" ng-model="form.prompt" id="prompt" class="form-control"/>
            </div>

            <span class="help help-block">
               {{ altCurrency.code | toCurrencySymbol}} {{altCurrency.amount}}
            </span>
        </div>
    </div>
    <div class="modal-footer" ng-class="message.footer_class">
        <a ng-if="message.cancel !== false" class="btn btn-alt btn-danger btn-lg" ng-click="dismiss()">{{ (message.cancel || 'CANCEL') | translate }}</a>
        <input type="submit" ng-if="message.ok !== false" class="btn btn-alt btn-success btn-lg" value="{{ (message.ok || 'OK') | translate }}" />
    </div>

</form>
