<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="appWrapper">
                <h1 class="pageTitle">{{ 'SETUP_FORGOT_PASSWORD' | translate }}</h1>

                <div class="formContainer"
                     ng-if="stepCount === 0">
                    <!-- Step 1 of password change -->
                    <form class="form"
                          novalidate>
                        <div ng-if="error" class="has-error">
                            <div class="help-block">
                                {{ error | translate }}
                            </div>
                        </div>

                        <div class="help-block">
                            {{ 'SETUP_FORGOT_PASS_STEP2' | translate }}
                        </div>

                        <div class="form-group form-group-lg">
                            <label class="control-label">{{ 'ERS' | translate }}</label>
                            <textarea class="form-control"
                                      style="resize: vertical; margin-bottom: 5px;"
                                      placeholder="{{ 'ERS' | translate }}"
                                      rows="4"
                                      cols="50"
                                      name="inputERS"
                                      ng-model="form.ERS"
                                      typeahead="word for word in bip39EN | filterERS : $viewValue | limitTo:4">
                            </textarea>
                        </div>

                        <div class="form-group form-group-lg form-group-buttons">
                            <button class="form-control btn btn-alt btn-primary" ng-disabled="working" ng-click="decryptERS()">{{ 'CONTINUE' | translate }}</button>
                            <div ng-if="working">
                                <loading-spinner></loading-spinner>
                                {{ 'PLEASE_WAIT' | translate }}
                            </div>
                        </div>
                        <div class="smallButtons">
                            <a class="sentence-case" ui-sref="app.setup.login">{{ 'BACK' | translate }}</a>
                        </div>
                    </form>
                </div>

                <div class="formContainer"
                     ng-if="stepCount === 1">
                    <!-- Step 2 of password change -->
                    <form name="forgotPassForm2"
                          class="form"
                          novalidate>
                        <div ng-if="error" class="has-error">
                            <div class="help-block">
                                {{ error | translate }}
                            </div>
                        </div>

                        <div class="help-block">
                            {{ 'SETUP_FORGOT_PASS_NEW_PASS' | translate }}
                        </div>

                        <div class="form-group form-group-lg">
                            <div class="password-input">
                                <div class="form-group form-group-lg">
                                    <input class="form-control" type="password" placeholder="{{ 'NEW_PASSWORD_PLACEHOLDER' | translate }}"
                                           name="newPassword"
                                           ng-model="form.newPassword"
                                           ng-change="checkPassword()"
                                           required="true"
                                           required
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-lg">
                            <div class="password-input">
                                <input class="form-control" type="password" placeholder="{{ 'NEW_PASSWORD_REPEAT_PLACEHOLDER' | translate }}"
                                       name="newPasswordRepeat"
                                       ng-model="form.newPasswordRepeat"
                                       ng-change="checkPassword()"
                                       required
                                />
                                <div class="password-check text-right">
                                    <i class="bticon bticon-cancel-circled text-bad" ng-if="form.passwordCheck && form.passwordCheck.score < 2"></i>
                                    <i class="bticon bticon-cancel-circled text-warning" ng-if="form.passwordCheck && form.passwordCheck.score == 2"></i>
                                    <i class="bticon bticon-ok-circled text-good" ng-if="form.passwordCheck && form.passwordCheck.score >= 3"></i>
                                </div>
                            </div>
                            <div class="password-checker password-checker-score-{{ form.passwordCheck.score }}" ng-if="form.passwordCheck.score >= 0">
                                <span ng-if="form.passwordCheck.score == 0">{{ 'PASSWORD_SUPER_WEAK' | translate }} </span>
                                <span ng-if="form.passwordCheck.score == 1">{{ 'PASSWORD_WEAK' | translate }} </span>
                                <span ng-if="form.passwordCheck.score == 2">{{ 'PASSWORD_MEDIOCRE' | translate }} </span>
                                <span ng-if="form.passwordCheck.score == 3">{{ 'PASSWORD_STRONG' | translate }} </span>
                                <span ng-if="form.passwordCheck.score >= 4">{{ 'PASSWORD_SUPER_STRONG' | translate }} </span>
                                <span translate="PASSWORD_TIME_TO_CRACK" translate-values="form.passwordCheck"></span>
                            </div>
                            <div class="password-checker password-checker-score-0" ng-if="form.passwordCheck.score == -1">
                                <span>{{ 'MSG_BAD_PASSWORD_REPEAT' | translate }}</span>
                            </div>
                        </div>

                        <div class="form-group form-group-lg form-group-buttons">
                            <button class="form-control btn btn-alt btn-primary" ng-disabled="working" ng-click="encryptNewERS()">{{ 'CONTINUE' | translate }}</button>
                            <div ng-if="working">
                                <loading-spinner></loading-spinner>
                                {{ 'PLEASE_WAIT' | translate }}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="formContainer" ng-if="stepCount === 2">
                    <div class="text-center">
                        <h3>You've changed your password successfully.</h3>

                        <p>You can now login with your new password.</p>

                        <button class="btn btn-lg btn-primary" ui-sref="app.setup.login">Back to login</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
