<div ng-click="onShowTransaction(transaction)" class="item-transaction">
    <div class="row">
        <div class="col-xs-6">
            <div class="transaction-info">
                <div class="media">
                    <div class="media-left media-media">
                        <!-- Transaction avatar -->
                        <w-transaction-avatar
                            transaction="transaction"
                        ></w-transaction-avatar>
                    </div>
                    <div class="media-body media-top">
                        <!-- Transaction description -->
                        <w-transaction-description
                                transaction="transaction"
                        ></w-transaction-description>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-center">
            <!-- Is pending transaction -->
            <div class="pending" ng-if="!transaction.block_height">
                <i class="bticon bticon-clock"></i><br/><em>{{ 'TX_INFO_PENDING' | translate }}</em>
            </div>
        </div>
        <div class="col-xs-4 text-right">
            <div
                    class="value"
                    ng-class="isReceived ? 'received' : 'sent'"
            >
                {{ transaction['wallet_value_change'] | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
            </div>
        </div>
    </div>
</div>
