<div
    class="appPage page-blur"
    ng-class="{'page-blur-active': isLoading}"
>
    <form
        class="form"
        name="formSend"
        novalidate
    >
        <div class="row">
            <!-- Recipient -->
            <div class="col-xs-12">
                <div
                    class="form-group form-group-lg"
                    ng-class="{'has-error': errors.recipient}"
                >
                    <label class="control-label" for="recipient">
                        <span class="sentence-case">{{ 'SEND_TO' | translate }}</span>
                    </label>

                    <div class="input-group input-group-lg">
                        <input
                            id="recipient"
                            name="recipient"
                            class="form-control"
                            type="text"
                            placeholder="{{ 'BITCOIN_ADDRESS' | translate : {network: CONFIG.NETWORKS[walletData.networkType].NETWORK_LONG} }}"
                            autocomplete="off"
                            required
                            ng-model="sendInput.recipientAddress"
                            ng-disabled="sendInput.inputDisabled"
                            ng-focus="resetError('recipient')"
                            ng-blur="validateAddress()"
                        />
                        <span
                            ng-show="!sendInput.inputDisabled"
                            title="Paste bitcoin link"
                            class="btn btn-secondary btn-xs input-group-addon"
                            ng-click="openModalBitcoinLink()"
                        >
                            <i class="bticon bticon-paste"></i>
                        </span>

                        <span
                            ng-show="sendInput.inputDisabled"
                            class="btn btn-secondary btn-xs input-group-addon"
                            ng-click="clearRecipient()"
                        >
                            <i class="bticon bticon-cancel-circled"></i>
                        </span>
                    </div>

                    <span class="text-danger sentence-case" ng-if="errors.recipient">
                        {{ errors.recipient | translate }}
                    </span>
                </div>
            </div>
        </div>

        <div class="row" ng-if="sendInput.referenceMessage">
            <div class="col-xs-12">
                {{ sendInput.referenceMessage }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- Amount -->
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.amount}">

                    <label class="control-label" for="amount">{{ 'AMOUNT' | translate }}</label>

                    <div class="input-group input-group-lg">
                        <input
                            id="amount"
                            name="amount"
                            class="form-control"
                            type="number"
                            min="0"
                            placeholder="0.00000000"
                            autocomplete="off"
                            required
                            ng-model="sendInput.amount"
                            ng-disabled="sendInput.inputDisabled"
                            ng-change="setAltCurrency(); fetchFee();"
                            ng-focus="resetError('amount')"
                        />
                        <span class="input-group-addon currency">
                            <span class="altCurrency">
                                {{ altCurrency.code | toCurrencySymbol }} {{ altCurrency.amount }}
                            </span>
                        </span>
                        <span class="input-group-btn">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-alt btn-default btn-lg" dropdown-toggle>
                                    {{ currencyType | toCurrencyTicker }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="currency in currencies"><a
                                        ng-click="updateCurrentType(currency.code)">{{ currency.code }} ({{ currency.symbol }})</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <span class="help help-block text-danger">
                        <span class="sentence-case" ng-if="errors.amount">
                            {{ errors.amount | translate }}
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="!sendInput.isForking">
            <div class="col-xs-12">
                <div class="form-group form-group-lg form-slim">
                    <label class="control-label">{{ 'TRANSACTION_FEES' | translate }}</label>
                    <div class="custom-select" ng-init="showselect=false">
                        <div class="custom-select-choice" ng-click="showselect=true">
                            <span class="custom-select-arrow">
                                <i class="bticon bticon-down-open" ng-click=""></i>
                            </span>
                            <div class="custom-option" ng-show="sendInput.feeChoice == HIGH_PRIORITY_FEE">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'HIGH_PRIORITY_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'HIGH_PRIORITY_FEE_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.highPriority && displayFee">{{ fees.highPriority | satoshiToCoin : walletData.networkType }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-option" ng-show="sendInput.feeChoice == OPTIMAL_FEE">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'OPTIMAL_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.optimal && displayFee">{{ fees.optimal | satoshiToCoin : walletData.networkType }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-option" ng-show="sendInput.feeChoice == LOW_PRIORITY_FEE">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'LOW_PRIORITY_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'LOW_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.lowPriority && displayFee">{{ fees.lowPriority | satoshiToCoin : walletData.networkType }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-option"
                                 ng-show="sendInput.feeChoice == PRIOBOOST"
                                 ng-class="{error: !prioboost.possible}">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'PRIOBOOST' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'PRIOBOOST_NOTICE' | translate }}
                                            {{ 'PRIOBOOST_CREDITS' | translate: {credits: prioboost.credits || 0} }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee extra-top"
                                              ng-if="fees.minRelayFee && (prioboost.possible)">{{ fees.minRelayFee | satoshiToCoin : walletData.networkType }}</span>
                                        <span class="error custom-option-fee extra-top"
                                              ng-if="prioboost.credits > 0 && (prioboost.tooLarge || prioboost.zeroConf)">{{ 'PRIOBOOST_NOT_POSSIBLE' | translate }}</span>
                                        <span class="error custom-option-fee extra-top" ng-if="prioboost.credits <= 0">{{ 'PRIOBOOST_NO_CREDITS_SHORT' | translate }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="custom-select-menu"
                             ng-show="showselect"
                             click-anywhere-but-here="showselect = false" is-active="showselect == true">
                            <div class="custom-option"
                                 ng-class="{selected: sendInput.feeChoice == HIGH_PRIORITY_FEE}"
                                 ng-click="sendInput.feeChoice = HIGH_PRIORITY_FEE; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            {{ 'HIGH_PRIORITY_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'HIGH_PRIORITY_FEE_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.highPriority">{{ fees.highPriority | satoshiToCoin : walletData.networkType }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 0px;"/>
                            <div class="custom-option"
                                 ng-class="{selected: sendInput.feeChoice == OPTIMAL_FEE}"
                                 ng-click="sendInput.feeChoice = OPTIMAL_FEE; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            {{ 'OPTIMAL_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.optimal">{{ fees.optimal | satoshiToCoin : walletData.networkType }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 0px;"/>
                            <div class="custom-option"
                                 ng-class="{selected: sendInput.feeChoice == LOW_PRIORITY_FEE}"
                                 ng-click="sendInput.feeChoice = LOW_PRIORITY_FEE; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            {{ 'LOW_PRIORITY_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'LOW_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.lowPriority">{{ fees.lowPriority | satoshiToCoin : walletData.networkType }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin :0px;"/>
                            <div class="custom-option"
                                 ng-if="CONFIG.NETWORKS[walletData.networkType].PRIOBOOST"
                                 ng-class="{selected: sendInput.feeChoice == PRIOBOOST, error: !prioboost.possible}"
                                 ng-click="sendInput.feeChoice = PRIOBOOST; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            <span class="custom-option-title sentence-case">
                                                {{ 'PRIOBOOST' | translate }}
                                            </span>
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'PRIOBOOST_NOTICE' | translate }}
                                            {{ 'PRIOBOOST_CREDITS' | translate: {credits: prioboost.credits || 0} }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee extra-top"
                                              ng-if="fees.minRelayFee && (prioboost.possible)">{{ fees.minRelayFee | satoshiToCoin : walletData.networkType }}</span>
                                        <span class="error custom-option-fee extra-top"
                                              ng-if="prioboost.credits > 0 && (prioboost.tooLarge || prioboost.zeroConf)">{{ 'PRIOBOOST_NOT_POSSIBLE' | translate }}</span>
                                        <span class="error custom-option-fee extra-top" ng-if="prioboost.credits <= 0">{{ 'PRIOBOOST_NO_CREDITS_SHORT' | translate }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row" ng-show="sendInput.isForking">
            <div class="col-xs-12 alert alert-warning">
                <div>
                    <b>
                         <p><i class="bticon bticon-warning-empty"></i> Due to wallet maintenance, deposits and withdrawals of the BCH will be suspended effective immediately for about 2 hours from 15:00, November 11th, 2020—17:00, November 11th, 2020 (UTC+8).If the user uses the wallet address to receive the BCH during maintenance, the change in balance will be shown after the service is restored.We apologize for any inconvenience caused. Your understanding is highly appreciated.</p>
                    </b>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg form-group-buttons">
                    <button class="btn btn-lg btn-primary" ng-click="onSubmitFormSend()" ng-disabled="sendInput.inputDisabled">
                        <span>&nbsp;&nbsp; {{ 'SEND' | translate }} &nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <!-- Loader overlay -->
    <div
        class="page-loader"
        ng-class="{'active': isLoading}"
    >
        <loading-spinner></loading-spinner>
    </div>
</div>
