.buy-amount-input {
  margin-top: 75px;
  //margin-left: 5%;
  //margin-right: 5%;
}

.buy-submit-button {
  text-align: right;
  margin-top: 5px;
  padding-top: 15px;
}

.buy-fee-information {
  text-align: right;
}

.buy-tos {
  padding-top: 15px;
  text-align: center;
}