<div class="appPage">
    <div class="receivePaymentStatus" ng-class="{'text-success': paymentReceived}">
        <div ng-if="!paymentReceived">
            <span class="progress-spinner"><span class="bticon bticon-progress"></span></span> <span class="sentence-case">{{ 'WAITING_FOR_PAYMENT' | translate }}</span>
        </div>
        <div ng-if="paymentReceived">
            <span class="bticon bticon-ok"></span> <span class="sentence-case">{{ 'PAYMENT_RECEIVED' | translate }}</span>
        </div>
    </div>

    <form class="form"  name="sendInputForm" novalidate ng-init="showQR=false">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-group-lg">
                    <label class="control-label capitalise">{{ 'BITCOIN_ADDRESS' | translate }}</label>
                    <p class="address">{{ newRequest.address }}</p>
                    <span class="help-block">
                        {{ 'BITCOIN_ADDRESS_RECEIVE_HELP' | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="qrcode-display-section">
                    <qr ng-if="newRequest.bitcoinUri" text="newRequest.bitcoinUri" type-number="qrSettings.typeNumber" correction-level="qrSettings.correctionLevel" size="qrSettings.SIZE" input-mode="qrSettings.inputMode" image="qrSettings.image"></qr>
                    <loading-spinner loading-spinner-size="lg" ng-if="!newRequest.address"></loading-spinner>
                </div>
            </div>
        </div>
    </form>
</div>

