<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="appWrapper">
                <h1 class="pageTitle">{{ 'SETUP_REGISTER' | translate }}</h1>

                <div class="formContainer">
                    <form class="form" name="registerForm">
                        <div class="alert" ng-if="errMsg" ng-class="{'alert-danger':errMsg}">{{ errMsg | translate }}</div>

                        <div class="form-group form-group-lg" ng-if="form.registerWithEmail">
                            <label class="control-label">
                                {{ 'SETUP_EMAIL_PLACEHOLDER' | translate }}
                            </label>
                            <input class="form-control" type="email" placeholder="{{ 'SETUP_EMAIL_PLACEHOLDER' | translate }}" required ng-model="form.email">
                        </div>

                        <div class="form-group form-group-lg">
                            <label class="control-label">{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}</label>
                            <div class="password-input">
                                <input class="form-control" type="password" placeholder="{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}"
                                       ng-model="form.password"
                                       ng-change="checkPassword()"
                                       required>
                                <div class="password-check text-right">
                                    <i class="bticon bticon-cancel-circled text-bad" ng-if="form.passwordCheck && form.passwordCheck.score < 2"></i>
                                    <i class="bticon bticon-cancel-circled text-warning" ng-if="form.passwordCheck && form.passwordCheck.score == 2"></i>
                                    <i class="bticon bticon-ok-circled text-good" ng-if="form.passwordCheck && form.passwordCheck.score >= 3"></i>
                                </div>
                            </div>
                            <div class="password-checker password-checker-score-{{ form.passwordCheck.score }}" ng-if="form.passwordCheck">
                                <span ng-if="form.passwordCheck.score == 0">{{ 'PASSWORD_SUPER_WEAK' | translate }} </span>
                                <span ng-if="form.passwordCheck.score == 1">{{ 'PASSWORD_WEAK' | translate }} </span>
                                <span ng-if="form.passwordCheck.score == 2">{{ 'PASSWORD_MEDIOCRE' | translate }} </span>
                                <span ng-if="form.passwordCheck.score == 3">{{ 'PASSWORD_STRONG' | translate }} </span>
                                <span ng-if="form.passwordCheck.score >= 4">{{ 'PASSWORD_SUPER_STRONG' | translate }} </span>
                                <span ng-bind-html="'PASSWORD_TIME_TO_CRACK' | translate:form.passwordCheck"></span>
                            </div>
                        </div>

                        <div class="form-group form-group-lg">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="termsofservice">
                                    {{ 'SETUP_TERMS_OF_SERVICE_TEXT' | translate }}
                                    <a target="_blank" href="https://btc.com/legal">{{ 'SETUP_TERMS_OF_SERVICE_LINK' | translate }}</a>
                                </label>
                            </div>
                        </div>

                        <div class="form-group form-group-lg form-group-buttons text-center">
                            <button class="btn btn-primary form-control" ng-click="doRegister()">{{ 'SETUP_REGISTER' | translate }}</button>
                        </div>

                        <div ng-if="working" class="text-center">
                            <loading-spinner></loading-spinner>
                            {{ 'CREATING_ACCOUNT' | translate }}
                        </div>

                    </form>
                </div>

                <div class="smallButtons text-center">
                    <a class="sentence-case" ui-sref="app.setup.login">{{ 'LAUNCH_EXISTING_ACCOUNT' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

