<div class="appPage">
    <form class="form"  name="sendInputForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.recipient}">
                    <label class="control-label" for="recipient"><span class="sentence-case">{{ 'SEND_TO' | translate }}</span></label>
                    <input id="recipient"
                           type="text"
                           ng-model="sendInput.recipientAddress"
                           ng-change="onRecipientChange()"
                           placeholder="Bitcoin address"
                           autocomplete="off"
                           name="recipient"
                           class="form-control"
                           required />

                    <span class="text-danger sentence-case" ng-if="errors.recipient">
                        {{ errors.recipient | translate }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.amount}">

                    <label class="control-label" for="recipient">{{ 'AMOUNT' | translate }}</label>
                    <div class="input-group input-group-lg">
                        <input ng-model="sendInput.amount" ng-change="setAltCurrency(); fetchFee();" type="text" class="form-control"  name="amount" placeholder="0.00000000" autocomplete="off" type="number" min="0" required />
                        <span class="input-group-addon currency">
                            <span class="altCurrency">
                                {{ altCurrency.code | toCurrencySymbol}} {{altCurrency.amount}}
                            </span>
                        </span>
                        <span class="input-group-btn">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-alt btn-default btn-lg" dropdown-toggle>
                                    {{ currencyType }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="currency in currencies"><a ng-click="updateCurrentType(currency.code)">{{ currency.code }}</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <span class="help help-block text-danger">
                        <span class="sentence-case" ng-if="errors.amount">
                            {{ errors.amount | translate }}
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg form-slim">
                    <label class="control-label">{{ 'TRANSACTION_FEES' | translate }}</label>
                    <div class="custom-select" ng-init="showselect=false" style="min-width: 400px;">
                        <div class="custom-select-choice" ng-click="showselect=true">
                            <span class="custom-select-arrow">
                                <i class="bticon bticon-down-open" ng-click=""></i>
                            </span>
                            <div class="custom-option" ng-show="sendInput.feeChoice == OPTIMAL_FEE">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'OPTIMAL_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.optimal">{{ fees.optimal | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-option" ng-show="sendInput.feeChoice == LOW_PRIORITY_FEE">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'LOW_PRIORITY_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'LOW_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.lowPriority">{{ fees.lowPriority | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-option"
                                 ng-show="sendInput.feeChoice == PRIOBOOST"
                                 ng-class="{error: prioboostEstSize > PRIOBOOST_MAX_SIZE}">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title">
                                            {{ 'PRIOBOOST' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'PRIOBOOST_NOTICE' | translate }}
                                            <br/>
                                            {{ 'PRIOBOOST_YOU_HAVE' | translate }}
                                            {{ prioboostCredits }}
                                            {{ 'PRIOBOOST_CREDITS_REMAINING' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee extra-top" ng-if="fees.minRelayFee && (prioboostEstSize < PRIOBOOST_MAX_SIZE)">{{ fees.minRelayFee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}</span>
                                        <span class="error pull-right extra-top" ng-if="prioboostEstSize > PRIOBOOST_MAX_SIZE">{{ 'PRIOBOOST_TOO_LARGE' | translate }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-select-menu"
                             ng-show="showselect"
                             click-anywhere-but-here="showselect = false" is-active="showselect == true">
                            <div class="custom-option"
                                 ng-class="{selected: sendInput.feeChoice == OPTIMAL_FEE}"
                                 ng-click="sendInput.feeChoice = OPTIMAL_FEE; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            {{ 'OPTIMAL_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.optimal">{{ fees.optimal | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin:0px;" />
                            <div class="custom-option"
                                 ng-class="{selected: sendInput.feeChoice == LOW_PRIORITY_FEE}"
                                 ng-click="sendInput.feeChoice = LOW_PRIORITY_FEE; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            {{ 'LOW_PRIORITY_FEE' | translate }}
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'LOW_PRIORITY_NOTICE' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee" ng-if="fees.lowPriority">{{ fees.lowPriority | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin:0px;" />
                            <div class="custom-option"
                                 ng-class="{selected: sendInput.feeChoice == PRIOBOOST, error: prioboostEstSize > PRIOBOOST_MAX_SIZE}"
                                 ng-click="sendInput.feeChoice = PRIOBOOST; showselect = false;">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="custom-option-title sentence-case">
                                            <span class="custom-option-title sentence-case">
                                                {{ 'PRIOBOOST' | translate }}
                                            </span>
                                        </span>
                                        <span class="help help-block custom-option-subtitle">
                                            {{ 'PRIOBOOST_NOTICE' | translate }}
                                            <br/>
                                            {{ 'PRIOBOOST_YOU_HAVE' | translate }}
                                            {{ prioboostCredits }}
                                            {{ 'PRIOBOOST_CREDITS_REMAINING' | translate }}
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span class="custom-option-fee extra-top" ng-if="fees.minRelayFee && (prioboostEstSize < PRIOBOOST_MAX_SIZE)">{{ fees.minRelayFee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}</span>
                                        <span class="error custom-option-fee extra-top" ng-if="prioboostEstSize > PRIOBOOST_MAX_SIZE">{{ 'PRIOBOOST_TOO_LARGE' | translate }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="row" ng-show="prioboostCredits > 0">
            <div class="form-group form-group-lg fee-toggle form-slim alert alert-info">
                <div class="col-xs-2">
                    <div style="font-size: 30px; text-align: left; cursor: pointer;">
                        <i style="position: relative; right: 2px;" class="bticon bticon-check-empty"
                           ng-if="!sendInput.prioboostTx" ng-click="sendInput.prioboostTx = true; updateFee();"></i>
                        <i class="bticon bticon-check"
                           ng-if="sendInput.prioboostTx" ng-click="sendInput.prioboostTx = false; updateFee();"></i>
                    </div>
                </div>
                <div class="col-xs-11">
                    <span class="fee-label">
                        <b>Transaction Accelerator</b>
                    </span>
                    <br>
                    <span class="sentence-case">

                        <br />
                        <span ng-if="displayFee && fees.minRelayFee > 0">
                            Fee: {{ fees.minRelayFee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
//-->

        <!--
        <div class="row" ng-show="!sendInput.prioboostTx">
            <div class="col-xs-12">
                <div class="form-group form-group-lg fee-toggle form-slim">
                    <div class="checkbox">
                        <div class="row">
                            <div class="col-xs-2">
                                <toggle-switch ng-model="sendInput.useOptimalFee"
                                               ng-change="updateFee()"
                                               style="text-align: center"
                                >
                                </toggle-switch>
                            </div>
                            <div class="col-xs-10">
                                <span class="fee-label">
                                   <b>
                                       {{ sendInput.useOptimalFee ? ( 'OPTIMAL_FEE' | translate ): ( 'LOW_PRIORITY_FEE' | translate) }}{{ displayFee ? ':' : '' }}
                                   </b>
                                </span>

                                <span ng-show="displayFee && sendInput.amount > 0">
                                    {{ fee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
                                </span>
                                <br>
                                <span class="help help-block sentence-case" ng-show="!sendInput.useOptimalFee">{{ 'LOW_PRIORITY_NOTICE' | translate }}</span>
                                <span class="help help-block sentence-case" ng-show="sendInput.useOptimalFee">{{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    //-->




        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg form-group-buttons">
                    <button class="btn btn-lg btn-primary" ng-click="confirmSend()">
                        <span>&nbsp;&nbsp; {{ 'SEND' | translate }} &nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>
