<div class="appPage">
    <form class="form"  name="sendInputForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.recipient}">
                    <label class="control-label" for="recipient"><span class="sentence-case">{{ 'SEND_TO' | translate }}</span></label>
                    <input id="recipient"
                           type="text"
                           ng-model="sendInput.recipientAddress"
                           ng-change="onRecipientChange()"
                           placeholder="Bitcoin address"
                           autocomplete="off"
                           name="recipient"
                           class="form-control"
                           required />

                    <span class="text-danger sentence-case" ng-if="errors.recipient">
                        {{ errors.recipient | translate }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.amount}">

                    <label class="control-label" for="recipient">{{ 'AMOUNT' | translate }}</label>
                    <div class="input-group input-group-lg">
                        <input ng-model="sendInput.amount" ng-change="setAltCurrency()" type="text" class="form-control"  name="amount" placeholder="0.00000000" autocomplete="off" type="number" min="0" required />
                        <span class="input-group-addon currency">
                            <span class="altCurrency">
                                {{ altCurrency.code | toCurrencySymbol}} {{altCurrency.amount}}
                            </span>
                        </span>
                        <span class="input-group-btn">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-alt btn-default btn-lg" dropdown-toggle>
                                    {{ currencyType }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="currency in currencies"><a ng-click="updateCurrentType(currency.code)">{{ currency.code }}</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <span class="help help-block text-danger">
                        &nbsp;
                        <span class="sentence-case" ng-if="errors.amount">
                            {{ errors.amount | translate }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row advancedOptions">
            <div class="col-xs-12">
                <div>
                    <a ng-href="#" ng-click="showAdvanced = !showAdvanced">
                        <span class="bticon bticon-right-open" ng-if="!showAdvanced"></span>
                        <i class="caret"  ng-if="showAdvanced"></i>
                        <span class="sentence-case">{{ 'ADVANCED_SEND_OPTIONS' | translate }}</span>
                    </a>
                </div>
                <div class="form-group form-group-lg" ng-show="showAdvanced">
                    <div class="checkbox">
                        <label>
                            <input id="low_priority"
                                   type="checkbox"
                                   ng-model="sendInput.lowPriority"
                                   name="low_priority"
                                   required />
                            <span>
                                {{ 'LOW_PRIORITY_LABEL' | translate }}
                            </span>
                        </label>
                        <span class="help-block">
                            <span class=" text-warning sentence-case">
                                <b class="uppercase">{{ 'WARNING' | translate }}!</b> {{ 'LOW_PRIORITY_WARNING' | translate }}
                            </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg form-group-buttons">
                    <button class="btn btn-lg btn-primary" ng-click="confirmSend()">
                        <span>&nbsp;&nbsp; {{ 'SEND' | translate }} &nbsp;&nbsp;</span>
                    </button>
                    &nbsp;
                    <a ui-sref="app.wallet.summary">
                        <span>{{ 'CANCEL' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>
