<div class="appPage">
    <form class="form"  name="sendInputForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.recipient}">
                    <label class="control-label" for="recipient"><span class="sentence-case">{{ 'SEND_TO' | translate }}</span></label>
                    <input id="recipient"
                           type="text"
                           ng-model="sendInput.recipientAddress"
                           ng-change="onRecipientChange()"
                           placeholder="Bitcoin address"
                           autocomplete="off"
                           name="recipient"
                           class="form-control"
                           required />

                    <span class="text-danger sentence-case" ng-if="errors.recipient">
                        {{ errors.recipient | translate }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg" ng-class="{'has-error':errors.amount}">

                    <label class="control-label" for="recipient">{{ 'AMOUNT' | translate }}</label>
                    <div class="input-group input-group-lg">
                        <input ng-model="sendInput.amount" ng-change="setAltCurrency(); fetchFee();" type="text" class="form-control"  name="amount" placeholder="0.00000000" autocomplete="off" type="number" min="0" required />
                        <span class="input-group-addon currency">
                            <span class="altCurrency">
                                {{ altCurrency.code | toCurrencySymbol}} {{altCurrency.amount}}
                            </span>
                        </span>
                        <span class="input-group-btn">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-alt btn-default btn-lg" dropdown-toggle>
                                    {{ currencyType }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="currency in currencies"><a ng-click="updateCurrentType(currency.code)">{{ currency.code }}</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <span class="help help-block text-danger">
                        &nbsp;
                        <span class="sentence-case" ng-if="errors.amount">
                            {{ errors.amount | translate }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" ng-show="prioboostCredits > 0 && prioboostEstSize < PRIOBOOST_MAX_SIZE">
            <div class="col-xs-12">
                <div class="form-group form-group-lg fee-toggle form-slim">
                    <div class="checkbox">
                        <div class="row">
                            <div class="col-xs-2">
                                <div style="font-size: 40px; text-align: left; cursor: pointer;">
                                    <i style="position: relative; right: 3px;" class="bticon bticon-check-empty"
                                       ng-if="!sendInput.prioboostTx" ng-click="sendInput.prioboostTx = true; updateFee();"></i>
                                    <i class="bticon bticon-check"
                                       ng-if="sendInput.prioboostTx" ng-click="sendInput.prioboostTx = false; updateFee();"></i>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <span class="fee-label">
                                    You have <b>{{ prioboostCredits }}</b> transaction boost credits!
                                </span>
                                <br>
                                <span class="help help-block sentence-case">
                                    You can use these credits to get a transaction mined with priority while just only having to pay the minimum fee required to relay your transaction accross the network. <br />
                                    This will give you a ~{{ prioboostDiscountPercentage | number:2 }}% discount!
                                    <span ng-if="displayFee && fees.minRelayFee > 0">
                                        Fee: {{ fees.minRelayFee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
                                    </span>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!sendInput.prioboostTx">
            <div class="col-xs-12">
                <div class="form-group form-group-lg fee-toggle form-slim">
                    <div class="checkbox">
                        <div class="row">
                            <div class="col-xs-2">
                                <toggle-switch ng-model="sendInput.useOptimalFee"
                                               ng-change="updateFee()"
                                               style="text-align: center"
                                >
                                </toggle-switch>

                            </div>
                            <div class="col-xs-10">
                                <span class="fee-label">
                                    {{ sendInput.useOptimalFee ? ( 'OPTIMAL_FEE' | translate ): ( 'LOW_PRIORITY_FEE' | translate) }}{{ displayFee ? ':' : '' }}
                                </span>

                                <span ng-show="displayFee && sendInput.amount > 0">
                                    {{ fee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
                                </span>
                                <br>
                                <span class="help help-block sentence-case" ng-show="!sendInput.useOptimalFee">{{ 'LOW_PRIORITY_NOTICE' | translate }}</span>
                                <span class="help help-block sentence-case" ng-show="sendInput.useOptimalFee">{{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group form-group-lg form-group-buttons">
                    <button class="btn btn-lg btn-primary" ng-click="confirmSend()">
                        <span>&nbsp;&nbsp; {{ 'SEND' | translate }} &nbsp;&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>
