<div
    class="appPage page-blur"
    ng-class="{'page-blur-active': isLoading}"
>
    <form class="form" name="sendInputForm" novalidate ng-init="showQR=false">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-group-lg">
                    <label class="control-label">{{ 'BITCOIN_ADDRESS' | translate : {network: CONFIG.NETWORKS[walletData.networkType].NETWORK_LONG} }}</label>

                    <p class="address">{{ newRequest.address || '...' }}</p>
                    <span class="help-block">
                        {{ 'BITCOIN_ADDRESS_RECEIVE_HELP' | translate : {network: CONFIG.NETWORKS[walletData.networkType].NETWORK_LONG} }}

                        <button class="btn btn-primary ng-binding btn-address-lookup" ui-sref=".address-lookup">
                            {{ 'MY_ADDRESSES' | translate }}
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-group-lg">
                    <label class="control-label" for="amount">{{ 'AMOUNT' | translate }}</label>
                    <div class="input-group input-group-lg">
                        <input ng-model="newRequest.btcValue" ng-change="setAltCurrency()"
                               class="form-control" id="amount" name="amount" placeholder="0.00000000" autocomplete="off" type="number" min="0" required />

                        <span class="input-group-addon currency">
                            <span class="altCurrency">
                                {{ altCurrency.code | toCurrencySymbol }} {{ altCurrency.amount }}
                            </span>
                        </span>

                        <span class="input-group-btn">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-alt btn-default btn-lg" dropdown-toggle>
                                    {{ currencyType | toCurrencyTicker }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="currency in currencies"><a ng-click="updateCurrentType(currency.code)">{{ currency.code }} ({{ currency.symbol }})</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>

                    <span class="help help-block text-danger">
                        <span class="sentence-case" ng-if="errors.amount">
                            {{ errors.amount | translate }}
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="qr-code-display-section">
                    <div class="qr-code-holder">
                        <div ng-if="newRequest.bitcoinUri">
                            <a ng-href="{{ newRequest.bitcoinUri }}">
                                <qr text="newRequest.bitcoinUri" type-number="qrSettings.typeNumber" correction-level="qrSettings.correctionLevel" size="qrSettings.SIZE" input-mode="qrSettings.inputMode" image="qrSettings.image"></qr>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <!-- Loader overlay -->
    <div
        class="page-loader"
        ng-class="{'active': isLoading}"
    >
        <loading-spinner></loading-spinner>
    </div>
</div>
