<div class="modal-header">
    <h3 class="modal-title">{{ 'SETTINGS_CROP_PROFILE_PIC' | translate }}</h3>
</div>

<div class="modal-body">
    <div class="height-100" style="height: 400px">
        <img-crop image="image"
                  result-image="croppedImage"
                  area-type="circle"
                  area-min-size="100"
                  result-image-size="500"
                  result-image-format="image/jpeg"
                  result-image-quality="0.8">
        </img-crop>
    </div>
</div>

<div class="modal-footer">
    <button
            class="btn btn-lg btn-danger"
            ng-click="dismiss()"
    >{{ 'CANCEL' | translate }}</button>
    <button
            ng-click="ok()"
            class="btn btn-lg btn-success"
    >{{ 'OK' | translate }}</button>
</div>
