<html>

<head>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= GOOGLE_RECAPTCHA_SITE_KEY %>"></script>
    <script>
        let l = function (e) {
            if (e.data.a) {
                grecaptcha.ready(function () {
                    grecaptcha.execute('<%= GOOGLE_RECAPTCHA_SITE_KEY %>', { action: 'homepage' }).then(function (token) {
                        console.log('token:' + token);
                        document.getElementById('token').innerHTML = token;
                        window.token = token
                        e.source.postMessage({'token':token}, '*');
                    });
                });
            }
        }
        window.addEventListener('message', l, false)
    </script>
</head>

<body>
    <div id='token'></div>
</body>

</html>