<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>BTC Wallet - putting you in control of your bitcoin</title>

        <link rel='icon' href='<%= STATICSDIR %>/favicon.ico' type='image/x-icon'>
        <link rel='shortcut icon' href='<%= STATICSDIR %>/favicon.ico' type='image/x-icon'>

        <link href="<%= STATICSDIR %>/css/app.css" rel="stylesheet">
    </head>

    <body ng-app="blocktrail.wallet" ng-class="bodyClassStr">
        <div class="bodyViewContainer" ui-view>

            <div class="loading-page">
                <div class="loading-spinner loading-spinner-lg">
                    <div class="loading loading-0"></div>
                    <div class="loading loading-1"></div>
                    <div class="loading loading-2"></div>
                </div>
            </div>
        </div>

        <script src="<%= STATICSDIR %>/js/libs.js"></script>
        <script src="<%= STATICSDIR %>/js/sdk.js"></script>

        <script>
            angular.module('blocktrail.config', []).constant('CONFIG', <%= APPCONFIG_JSON %>);
            angular.module('blocktrail.translations', []).constant('TRANSLATIONS', <%= TRANSLATIONS %>);
        </script>

        <script src="<%= STATICSDIR %>/js/app.js"></script>
    </body>
</html>
