<div class="row" style="margin-top: 50px">
    <div class="col-md-4">
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" ng-click="sweepCoins()">
                {{ 'SWEEP_TITLE' | translate }}
            </button>
        </div>
    </div>
    <div class="col-md-4" ng-if="network == 'BTC'">
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" ng-click="addProtocolHandler()">
                {{ 'SET_BROWSER_DEFAULT_WALLET' | translate }}
            </button>
        </div>
    </div>
</div>